<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Game.io</a></h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="#">Download</a>
		<a class="p-2 text-dark" href="/leaderboard">Leaderboard</a>
	  <a class="p-2 text-dark" href="/about">About</a>
	</nav>
	<%if (loggedIn) { %>
		<div class="dropdown">
        	<button href="#"class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- username %></button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="/user">Account Stats</a>
				<a class="dropdown-item" href="/logout">Sign Out</a>
			</div>
		</div>
    <% } else {%>
		<a class="btn btn-outline-primary" href="#loginPopup" data-toggle="modal" onclick = "loginPage()">Login</a>
	<% } %>
</div>

<script>
	$(document).ready(function(){
	   $('.dropdown-toggle').dropdown()
   });
</script>

<script>
	//Login/Registration
	  const loginHTML = '<div class="modal-dialog modal-login"><div class=modal-content><div class=modal-header><h4 class=modal-title>Login</h4><button class=close aria-hidden=true data-dismiss=modal type=button>×</button></div><form action="/login" method=post><div class=modal-body><div class=form-group><input name=username class=form-control placeholder=Username required></div><div class=form-group><input name=password class=form-control placeholder=Password required type=password></div><div class=form-group><button class="btn btn-block btn-primary login-btn"id=my_submit_button>Login</button></div><div class="checkbox mb-3"><label><input name=remember-me type=checkbox> Remember me |</label> <a href=# onclick=registerPage()>Create Account</a></div></div></form></div></div>';

	  const registerHTML = '<div class="modal-dialog modal-login">'
	  +'<div class="modal-content"><div class="modal-header"><h4 class="modal-title">Create Account</h4>'
	  +'<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button></div>'
	  +'<form action="/register" method="post"><div class="modal-body"><div class="form-group">'
	  +'<input type="text"class="form-control" name="username" placeholder="Username" required="required"/>'
	  +'</div><div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password"required="required"/>'
	  +'</div>'
	  +'<div class="form-group"><button id="my_submit_button" class="btn btn-primary btn-block login-btn">'
	  +' Create Account</button></div></div></form></div></div>';
	  function registerPage(){
		  document.getElementById('loginPopup').innerHTML = registerHTML;
	  }
	  function loginPage(){
		  document.getElementById('loginPopup').innerHTML = loginHTML;
	  }
</script>