<div id="loginPopup" class="modal fade">
    <div class="modal-dialog modal-login">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Create Account</h4>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
        >
            &times;
        </button>
        </div>
        <form action="/register" method="post">
        <div class="modal-body">
        <div class="form-group">
            <input
            type="text"
            class="form-control"
            name="userame"
            placeholder="Username"
            required="required"
            />
        </div>
        <div class="form-group">
            <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required="required"
            />
        </div>
        <div class="form-group">
            <button id="my_submit_button" class="btn btn-primary btn-block login-btn">
            Create Account
            </button>
        </div>
        </div>
        </form>
        </div>
    </div>
  </div>