<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="jumbotron">
    <h1 class="display-4">About 5 Guys Games</h1>
</div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://i.ytimg.com/vi/zrQvUdu9T7c/maxresdefault.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jonathan Powers</h5>
      <p class="card-text">Jonathan Powers is a senior at the University of Colorado Boulder. With his years of experience, he applies his extended knowledge of Unity and Javascript to better and improve our games.</p>
        
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/zrQvUdu9T7c/maxresdefault.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Michael Metz</h5>
        <p class="card-text">Michael Metz is a sophmore at the University of Colorado Boulder. With his extended knowledge of C Sharp, he builds the scripts you see in game </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/zrQvUdu9T7c/maxresdefault.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rahul Shenoy</h5>
        <p class="card-text">Rahul Shenoy is a sophmore at the University of Colorado Boulder. With his knowledge of C, HTML and other languages, he builds the very page you are on now.</p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/zrQvUdu9T7c/maxresdefault.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mitch Segura</h5>
        <p class="card-text">Mitch Segura is a sophmore at the University of Colorado Boulder. With his knowledge of C, SQL and other languages he takes care of the servers, to make sure you can log in and out fo your account</p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/zrQvUdu9T7c/maxresdefault.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Austin Skeffington</h5>
        <p class="card-text">Austin Skeffington is a sophmore at the University of Colorado Boulder. With his knowledge of C, NodeJS and other languages he creates the very servers you play our game on.</p>
        </div>

      </div>
    </div>
      <div class="jumbotron">
        <p class="lead">Congressional Conquest will be a Unity based fighting game which incorporates the former US Presidents as characters. The gameplay and stages will be similar to that of Street Fighter. You will be placed on a 2-dimensional surface and your goal is to knockout the opponent. 
            The player will be presented with a simple menu to select one of many presidential figures. The moves of said characters will be based on historical items associated with that specific president in an effort to be at least somewhat accurate and educational. The players will then fight each other until one player is either knocked off the stage or their health points deplete to 0. This application is meant to provide entertainment for the user and on a much smaller note, an opportunity to learn about the history of US presidents.
        </p>
    </div>
<%- include('../partials/modal') %>
<%- include('../partials/footer') %>