<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Ice and Fire</h1>
      <p>
        Description of the game
      </p>
    </div>
  </div>
<br /><br /><br /><br />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Ice and Fire</h1>
    <p>
      Description of the game
    </p>
  </div>
</div>
<br /><br /><br /><br />

<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Here is an image of our project</h2>
      <p class="lead">Here's a description of what the image is</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Here is an image of our project</h2>
      <p class="lead">Here's a description of what the image is</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Here is an video of our project</h2>
      <p class="lead">Here's a description of what the video is</p>
    </div>
    <div class="col-md-5">
      <iframe width="500" height="300" src="https://www.youtube.com/embed/ZYzbalQ6Lg8" 
          title="Demo video" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

    </div>
  </div>

  <hr class="featurette-divider">
<%- include('../partials/modal') %>
  <br /><br /><br />
<%- include('../partials/footer') %>