<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Ice and Fire</h1>
      <p>
        Description of the game
      </p>
    </div>
  </div>
<br /><br /><br /><br />
<%- include('../partials/modal') %>
  <br /><br /><br />
<%- include('../partials/footer') %>